<h1><p style="text-align: center;">DA with Python Lab Session - 2 (Regex) </p><h1>


### Expressions :
***

`\d`                         Any numeric digit from `0` to `9`.
                           
`\D`                         Matches any character which is not a decimal digit. 
                           This is the opposite of `\d`.
                           
`\w`                         Any letter, numeric digit, or the underscore
                           character.  (Think of this as matching
                           "word" characters.)
                           
`\W`                         Any character that is not a letter,
                           numeric digit, or the underscore character.
                           
`\s`                         Any space, tab, or newline character.  (
                           Think of this as matching white-space
                           characters.)
                           
`\S`                         Any character that is not a space, tab,
                           or newline.
***

### Find numeric digits with search function

In [1]:
import re
import pandas as pd

In [6]:
text = re.search('\d\d','A234')
print(text.group())

23

### Find non decimal digits with search function

In [4]:
text = re.search('\D','22A')
print(text.group())

A

### Find phone number pattern

In [10]:
text = 'My phone number is 5055555555'
output = re.search('(\d\d\d)(\d\d\d)(\d\d\d\d)',text)
print(output.group())

5055555555

### Grouping with parentheses and find areaCode,mainNumber print

In [17]:
text = 'My phone number is 415-555-1212'
output = re.search('(\d\d\d)-(\d\d\d-\d\d\d\d)',text)
print(output.group(1))

415

### Escaping parentheses and create 2 group -> first group:(415) second group:555-1212 print

In [23]:
text = 'My phone number is (415) 555-1212'
output = re.search('(\(\d\d\d\)) (\d\d\d-\d\d\d\d)',text)
print(output.group(1))
print(output.group(2))

(415)
555-1212

### Extract numbers from text

In [29]:
value = "O 1, t 10, o 100. 100000"
output = re.findall('\d{1,6}',value)
print(output)

['1', '10', '100', '100000']

### Remove anything other than digits and print

In [30]:
phone = "2004-959-559 # This is Phone Number"
output = re.sub('\D',"",phone)
print(output)

2004959559

### Remove anything other than digits and replace with "."

In [33]:
phone = "2004-959-559 # This is Phone Number"
output = re.sub('\D','-',phone)
print(output)

2004-959-559-----------------------

### Special Characters
___

``"[]"``	  A set of characters	``"[a-m]"``

``"\"``	      Signals a special sequence (can also be used to escape special characters)

``"."``	      Any character (except newline character)

``"^"``	      Starts with	``"^hello"``

``"$"``	      Ends with	``"world$"``

``"*"``	      Zero or more occurrences

`"+"`	      One or more occurrences

`"{}"`	  Exactly the specified number of occurrences

`"|"`	      Either or	`"falls|stays"`

`"()"`	  Capture and group
___

### Check if the string starts with 'hello' if yes print Yes, the string starts with 'hello' if no No match :

In [34]:
txt = "hello world"

output = re.findall("^hello",txt)
if output:
    print("Yes starts with hello")
else:
    print("No")

Yes starts with hello

### Check if the string ends with 'world' if yes print Yes, the string ends with 'world' if no No match :

In [35]:
import re

txt = "hello world"
output = re.findall('world$',txt)
print(output)

['world']

### Extract just numbers

In [37]:
s = pd.Series(['a3', 'b4', 'c5'])
s.str.extract('(\d)')

   0
0  3
1  4
2  5

### Extract just letters

In [39]:
s = pd.Series(['a3aa', 'b4aa', 'c5aa'])
s.str.extract('(\w\d)')

    0
0  a3
1  b4
2  c5

### Extract first number

In [42]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])

result = s.str.extract('(\d\d|\d.\d|\d)')
result

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

### Extract first and second number

In [46]:
s= pd.Series(['40 l/100 km (comb)', 
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)', 
       '7.8 l/100 km (comb)'])
result2 = s.str.extract('(\d\d|\d.\d|\d).+(\d\d\d)')
result = s.str.extract('(^\d*.\d*) \w*/(\d*)')
result

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

### Extract date

In [57]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
result = s.str.extract("(\d\d).(\d\d\d\d)")
result2 = s.str.extract("(\d{2}).(\d{4})")
result3 = s.str.extract("(\d*).(\d*)")
result4 = s.str.extract("(\d\d)/(\d*)")
result5 = s.str.extract("(\d\d)/(\d\d\d\d)")
result5

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

### Extract date with a different way

In [58]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])

result = s.str.extract('(\d{1,2})/(\d{4})')
result

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

### Extract date and \n\n -> 4.9

In [ ]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',                                 
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',                                                 
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])

In [59]:
result = s.str.extract('(\d{2})/(\d{4})\s\s(\d{3}|\d.\d)')
result

     0     1    2
0   06  2020  4.9
1   11  2020  166
2   10  2019  5.3
3   05  2022  6.3
4   07  2019  128
5   06  2022  112
6   01  2022  5.8
7   11  2020  106
8   04  2019  105
9   08  2020  133
10  04  2022  133