**Examples**

In [1]:
import numpy as np
import pandas as pd

### Part - 1

In [2]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['P', 'Q', 'R', 'S'])
df

   P  Q   R   S
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-drop.png" alt="Pandas: DataFrame-drop" title="Title text" height="" width="" />

Drop columns:

In [3]:
df.drop(['Q', 'R'], axis=1)

   P   S
0  0   3
1  4   7
2  8  11

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-drop-1.png" alt="Pandas: DataFrame-drop - columns" title="Title text" height="" width="" />

In [4]:
df.drop(columns = ['Q', 'R'])

   P   S
0  0   3
1  4   7
2  8  11

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-drop-2.png" alt="Pandas: DataFrame-drop - columns" title="Title text" height="" width="" />

Drop a row by index:

In [5]:
df

   P  Q   R   S
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [6]:
df.drop([0, 1])

   P  Q   R   S
2  8  9  10  11

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-drop-3.png" alt="Pandas: DataFrame - drop a row by index" title="Title text" height="" width="" />

***

### Part - 2

Drop columns and/or rows of MultiIndex DataFrame

In [7]:
midx = pd.MultiIndex(levels=[['deer', 'dog', 'eagle'],
                             ['speed', 'weight', 'length']],
                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
                            [0, 1, 2, 0, 1, 2, 0, 1, 2]])
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                   data=[[60, 35], [30, 12], [5.5, 1], [40, 20],
                         [25, 10], [4.5, 0.8], [320, 220],
                         [2, 0.8], [2.2, 0.2]])
df

                big  small
deer  speed    60.0   35.0
      weight   30.0   12.0
      length    5.5    1.0
dog   speed    40.0   20.0
      weight   25.0   10.0
      length    4.5    0.8
eagle speed   320.0  220.0
      weight    2.0    0.8
      length    2.2    0.2

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-drop-4.png" alt="Pandas: DataFrame - Drop columns and/or rows of MultiIndex DataFrame" title="Title text" height="" width="" />

In [8]:
df.drop(index = 'dog', columns = 'small')

                big
deer  speed    60.0
      weight   30.0
      length    5.5
eagle speed   320.0
      weight    2.0
      length    2.2

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-drop-5.png" alt="Pandas: DataFrame - Drop columns small" title="Title text" height="" width="" />

In [9]:
df.drop(index = 'dog', level = 0)

                big  small
deer  speed    60.0   35.0
      weight   30.0   12.0
      length    5.5    1.0
eagle speed   320.0  220.0
      weight    2.0    0.8
      length    2.2    0.2

In [10]:
df.drop(index = 'dog')

                big  small
deer  speed    60.0   35.0
      weight   30.0   12.0
      length    5.5    1.0
eagle speed   320.0  220.0
      weight    2.0    0.8
      length    2.2    0.2

In [12]:
df

                big  small
deer  speed    60.0   35.0
      weight   30.0   12.0
      length    5.5    1.0
dog   speed    40.0   20.0
      weight   25.0   10.0
      length    4.5    0.8
eagle speed   320.0  220.0
      weight    2.0    0.8
      length    2.2    0.2

In [11]:
df.drop(index = 'length', level = 1)

                big  small
deer  speed    60.0   35.0
      weight   30.0   12.0
dog   speed    40.0   20.0
      weight   25.0   10.0
eagle speed   320.0  220.0
      weight    2.0    0.8

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-drop-6.png" alt="Pandas: DataFrame - Drop index length" title="Title text" height="" width="" />