**Examples**

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([[2, 3], [5, 6], [8, 9]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               2       3
viper               5       6
sidewinder          8       9

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc.png" alt="Pandas: DataFrame - Loc." title="Title text" height="" width="" />

Single label:

In [3]:
df.loc['viper']

max_speed    5
shield       6
Name: viper, dtype: int64

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc-1.png" alt="Pandas: DataFrame - Single label." title="Title text" height="" width="" />

List of labels:

In [29]:
df.loc['viper', 'sidewinder']

KeyError: 'sidewinder'

In [4]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               5       6
sidewinder          8       9

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc-2.png" alt="Pandas: DataFrame - List of labels." title="Title text" height="" width="" />

Single label for row and column:

In [5]:
df.loc['cobra', 'shield']

3

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc-3.png" alt="Pandas: DataFrame - Single label for row and column." title="Title text" height="" width="" />

Slice with labels for row and single label for column. As mentioned above, note that both<br>
the start and stop of the slice are included.

In [6]:
df.loc['cobra':'viper', 'max_speed']

cobra    2
viper    5
Name: max_speed, dtype: int64

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc-4.png" alt="Pandas: DataFrame - Slice with labels for row and single label for column." title="Title text" height="" width="" />

Boolean list with the same length as the row axis:

In [7]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          8       9

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc-5.png" alt="Pandas: DataFrame - Boolean list with the same length as the row axis." title="Title text" height="" width="" />

Conditional that returns a boolean Series

In [8]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          8       9

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc-6.png" alt="Pandas: DataFrame - Conditional that returns a boolean Series." title="Title text" height="" width="" />

Conditional that returns a boolean Series with column labels specified:

In [9]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          8

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc-7.png" alt="Pandas: DataFrame - Conditional that returns a boolean Series with column labels specified." title="Title text" height="" width="" />

***
### part - 1
***

Callable that returns a boolean Series:

In [10]:
df

            max_speed  shield
cobra               2       3
viper               5       6
sidewinder          8       9

In [11]:
df[df["shield"] == 9]

            max_speed  shield
sidewinder          8       9

In [12]:
df.loc[lambda df: df['shield'] == 9]

            max_speed  shield
sidewinder          8       9

<img src="https://www.w3resource.com/w3r_images/pandas-dataframe-loc-8.png" alt="Pandas: DataFrame - Callable that returns a boolean Series." title="Title text" height="" width="" />

**Setting values**<br>
Set value for all items matching the list of labels:

In [13]:
df.loc[['viper', 'sidewinder'], ['shield']] = 30
df

            max_speed  shield
cobra               2       3
viper               5      30
sidewinder          8      30

Set value for an entire row:

In [14]:
df.loc['cobra'] =10
df

            max_speed  shield
cobra              10      10
viper               5      30
sidewinder          8      30

Set value for an entire column:

In [15]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      30
sidewinder         30      30

Set value for rows matching callable condition:

In [16]:
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper              30      30
sidewinder         30      30

**Getting values on a DataFrame with an index that has integer labels**

In [17]:
df = pd.DataFrame([[2, 3], [5, 6], [8, 9]],
     index=[2, 3, 4], columns=['max_speed', 'shield'])
df

   max_speed  shield
2          2       3
3          5       6
4          8       9

Slice with integer labels for rows. As mentioned above, note that both the start and stop<br>
of the slice are included:

In [18]:
df.loc[2:4]

   max_speed  shield
2          2       3
3          5       6
4          8       9

**Getting values with a MultiIndex**<br>
A number of examples using a DataFrame with a MultiIndex:

In [19]:
tuples = [
   ('cobra', 'm1'), ('cobra', 'm2'),
   ('sidewinder', 'm1'), ('sidewinder', 'm2'),
   ('viper', 'm2'), ('viper', 'm3')
]

In [20]:
index = pd.MultiIndex.from_tuples(tuples)
values = [[14, 4], [0, 6], [20, 30],
         [2, 4], [5, 1], [26, 46]]

In [21]:
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

               max_speed  shield
cobra      m1         14       4
           m2          0       6
sidewinder m1         20      30
           m2          2       4
viper      m2          5       1
           m3         26      46

Single label:

In [22]:
df.loc['cobra']

    max_speed  shield
m1         14       4
m2          0       6

Single index tuple:

In [23]:
df.loc[('cobra', 'm2')]

max_speed    0
shield       6
Name: (cobra, m2), dtype: int64

Single label for row and column:

In [24]:
df.loc['cobra', 'm1']

max_speed    14
shield        4
Name: (cobra, m1), dtype: int64

Single tuple:

In [25]:
df.loc[[('cobra', 'm2')]]

          max_speed  shield
cobra m2          0       6

Single tuple for the index with a single label for the column:

In [26]:
df.loc[('cobra', 'm1'), 'shield']

4

Slice from index tuple to single label:

In [27]:
df.loc[('cobra', 'm1'):'viper']

               max_speed  shield
cobra      m1         14       4
           m2          0       6
sidewinder m1         20      30
           m2          2       4
viper      m2          5       1
           m3         26      46

Slice from index tuple to index tuple:

In [28]:
df.loc[('cobra', 'm1'):('viper', 'm2')]

               max_speed  shield
cobra      m1         14       4
           m2          0       6
sidewinder m1         20      30
           m2          2       4
viper      m2          5       1