**Examples**

In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'num_legs': [4, 4, 2, 2],
     'num_wings': [0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'bird', 'bird'],
     'animal': ['tiger', 'fox', 'penguin', 'sparrow'],
     'locomotion': ['walks', 'walks', 'walks', 'flies']}
df = pd.DataFrame(data=d)

In [3]:
df = df.set_index(['class', 'animal', 'locomotion'])
df

                           num_legs  num_wings
class  animal  locomotion
mammal tiger   walks              4          0
       fox     walks              4          0
bird   penguin walks              2          2
       sparrow flies              2          2

Get values at specified index

In [4]:
df.xs('mammal')

                   num_legs  num_wings
animal locomotion
tiger  walks              4          0
fox    walks              4          0

Get values at several indexes:

In [5]:
df.xs(('mammal', 'fox'))

C:\Users\YD\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2886: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

            num_legs  num_wings
locomotion
walks              4          0

Get values at specified index and level:

In [6]:
df.xs(("mammal", "fox"), level = [0, 1])

            num_legs  num_wings
locomotion
walks              4          0

In [17]:
df.xs(("fox", "walks"), level = [1,2])

        num_legs  num_wings
class
mammal         4          0

In [20]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal tiger   walks              4          0
       fox     walks              4          0
bird   penguin walks              2          2
       sparrow flies              2          2

In [21]:
df.xs(("mammal", "tiger", "walks"))

num_legs     4
num_wings    0
Name: (mammal, tiger, walks), dtype: int64

In [19]:
df.xs('tiger', level=1)

                   num_legs  num_wings
class  locomotion
mammal walks              4          0

In [9]:
df.xs("walks", level=2)

                num_legs  num_wings
class  animal
mammal tiger           4          0
       fox             4          0
bird   penguin         2          2

Get values at several indexes and levels

In [10]:
df.xs(('bird', 'walks'),
      level=[0, 'locomotion'])

         num_legs  num_wings
animal
penguin         2          2

In [22]:
df

                           num_legs  num_wings
class  animal  locomotion
mammal tiger   walks              4          0
       fox     walks              4          0
bird   penguin walks              2          2
       sparrow flies              2          2

In [11]:
df.xs(('bird', 'walks'),
      level=[0, 2])

         num_legs  num_wings
animal
penguin         2          2

In [12]:
df.xs(('bird', 'walks'),
      level=["class", 'locomotion'])

         num_legs  num_wings
animal
penguin         2          2

In [13]:
df.xs(('bird', 'walks'),
      level=["class", 2])

         num_legs  num_wings
animal
penguin         2          2

In [14]:
df.xs("flies", level = 2)

               num_legs  num_wings
class animal
bird  sparrow         2          2

Get values at specified column and axis:

In [15]:
df.xs('num_wings', axis=1)

class   animal   locomotion
mammal  tiger    walks         0
        fox      walks         0
bird    penguin  walks         2
        sparrow  flies         2
Name: num_wings, dtype: int64